 table{ border:1px solid black; border-collapse:collapse; width:400px;}
 table td{ border:1px solid black; width:50%;}
 table th{border:1px solid black;width:50%;}
 tbody th{background-color:#EbbbbE; }  